<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180502550208-f18uq5r7tgjj7as0sdl80j1hh2kbn148.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180502550208-f18uq5r7tgjj7as0sdl80j1hh2kbn148</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Mp77qOeNjU7Md46L9udIwPvOU4p0yNA</string>
	<key>GCM_SENDER_ID</key>
	<string>180502550208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homeservicesprovider</string>
	<key>PROJECT_ID</key>
	<string>homeservicesprovider-728d5</string>
	<key>STORAGE_BUCKET</key>
	<string>homeservicesprovider-728d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180502550208:ios:b06a9dcbeea6e5bd11bf25</string>
</dict>
</plist>